/* font import */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* universal reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Press Start 2P", cursive;
  color: #fff;
  background-color: #222;
}

label,
input {
  width: 100%;
  display: inline-block;
}

/* GAME SCREEN */

.game-header {
  padding: 32px;
  height: 25vh;
  color: #eee;
}

.game-header__button {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 16px;
  padding: 16px;
  font-family: inherit;
  margin-top: 24px;
}

.game-header__button:hover {
  background-color: #ccc;
}

.game-main {
  height: 75vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-main__sums {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 50%;
}

.quiz__sum {
  font-size: 32px;
  width: 60%;
  margin-bottom: 16px;
}

.quiz__input {
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  display: block;
  /* height: 32px; */
  width: 30%;
  padding: 16px;
  margin-bottom: 3rem;
}

.game-main__progress {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 8px;
  width: 50%;
}
