/* Font = Press Start 2P */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TAG SELECTORS */

body {
  font-family: "Press Start 2P", sans-serif;
  line-height: 1.4;
  color: #fff;
  background-color: #222;
}

label,
input {
  caret-color: #000;
  width: 100%;
  display: inline-block;
}

span {
  font-size: 32px;
  color: rgb(254, 242, 117);
}

span.register,
span.machine {
  color: rgb(125, 248, 123);
}

/* *********** LOGIN & LEADERBOARD CLASSES *********** */

/* 
TODO 
fix layout! 
*/

.login-window--container {
  /* center main container */
  margin: 110px auto;
  max-width: 75%;
  /* layout of enclosed sections */
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  /* transition for container */
  transition: all 0.5s ease-out;
}

.login--container {
  padding-right: 46px;
}

.login--title,
.login--label {
  margin-bottom: 24px;
}

.login--title span {
  font-size: 28px;
}

.login--input {
  font-family: inherit;
  font-weight: bold;
  font-size: 24px;
  border: 2px solid rgb(254, 242, 117);
  display: block;
  width: 70%;
  padding: 12px;
  transition: all 2s ease-out;
}

.leaderboard--container {
  border-left: 2px solid #eee;
  padding-left: 46px;
}

.leaderboard--title {
  font-size: 32px;
  color: rgb(125, 248, 123);
  margin-bottom: 32px;
}

.leaderboard--list {
  list-style: none;
}

.leaderboard--listitem {
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.leaderboard--listitem__user {
  font: inherit;
  border: none;
  background: none;
  color: #eee;
  cursor: pointer;
  /* for pseudo element */
  display: inline-block;
  position: relative;
}

.leaderboard--listitem__user::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eee;
  /* hidden by default */
  transform: scaleX(0);
  /* retreats to bottom right after hover */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.leaderboard--listitem__user:hover::after {
  /* grows from bottom left on hover  */
  transform: scaleX(1);
  transform-origin: bottom left;
}

.leaderboard--listitem__score {
  color: rgb(254, 242, 117);
}

/* *********** CHOOSE GAME *********** */

.choose--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transition for container */
  transition: all 0.5s ease-out;
}

/* TODO fix layout without using margins? */
.choose--header {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 100px;
}

.choose--buttons {
  margin-bottom: 100px;
}

/* *********** GAME - WHOLE SCREEN *********** */

/* CONTAINER */
.game-container {
  transition: all 0.5s;
}

/* HEADER */
.game-header {
  background-color: rgb(154, 154, 154);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 32px;
  height: 25vh;
}

.game-header--message {
  font-size: 32px;
  margin-bottom: 22px;
  color: #eee;
}

.game-header--button {
  align-self: flex-start;
  background: none;
  transition: none;
}

/* MAIN */
.game-main {
  height: 75vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

/* *********** GAME - SUM WINDOW *********** */

.sum-window--container {
  padding: 82px;
  width: 50%;
  height: 100%;
  background-color: rgb(98, 98, 98);
  transition: all 0.5s;
}

.sum--container {
  background-color: #222;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sum--sum {
  font-size: 58px;
  margin-bottom: 16px;
}

.sum--input {
  font-family: inherit;
  font-weight: bold;
  font-size: 42px;
  /* border: 2px solid rgb(254, 242, 117); */
  text-align: center;
  display: block;
  width: 50%;
  padding: 28px;
  transition: all 0.3s ease-out;
}

.sum--input:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.5rem rgba(253, 242, 233, 0.5); */
  box-shadow: 0 0 0 0.3rem rgb(254, 242, 117);
}

/* *********** GAME - SCORE WINDOW *********** */

.score-window--container {
  padding: 82px;
  height: 100%;
  font-size: 24px;
  gap: 42px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.score--container {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scores {
  flex-direction: column;
  gap: 24px;
}

/* *********** GAME - GAME OVER WINDOW *********** */

.game-over--heading {
  text-transform: uppercase;
  font-size: 36px;
  color: rgb(208, 94, 113);
  margin-bottom: 64px;
}

.game-over--score {
  text-transform: uppercase;
  margin-bottom: 64px;
}

/* *********** UI CLASSES *********** */

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 12px;
  padding: 18px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.login-button {
  margin-top: 24px;
}

.btn:hover {
  background-color: #ccc;
}

.btn__choose {
  background-color: rgb(206, 236, 161);
  margin-right: 48px;
}

.btn__choose:hover {
  background-color: rgb(232, 246, 210);
}

/* .btn__add {
} */

.btn__subtract {
  background-color: rgb(254, 242, 117);
}

/* .btn__multiply {
} */

.btn__random {
  margin: 0;
  background-color: rgb(255, 154, 170);
}

.btn__random:hover {
  margin: 0;
  background-color: rgb(250, 202, 210);
}

.btn__play-again {
  margin-right: 48px;
  background-color: rgb(206, 236, 161);
}

.btn__play-again:hover {
  background-color: rgb(232, 246, 210);
}

/* *********** TRANSITION CLASSES *********** */

.shift-down {
  transform: translateY(42px);
}

.hidden {
  opacity: 0;
}

/* *********** ANIMATION CLASSES *********** */

/* *********** SCORE WINDOW *********** */

.correct {
  background-color: rgb(166, 192, 127);
  animation-name: correct-pulse;
  animation-duration: 0.3s;
}

@keyframes correct-pulse {
  0% {
    background-color: rgb(166, 192, 127);
  }
  50% {
    background-color: rgb(206, 236, 161);
  }
  100% {
    background-color: rgb(166, 192, 127);
  }
}

.incorrect {
  background-color: rgb(208, 94, 113);
  animation: incorrect-pulse 0.3s, wiggle 1s;
}

@keyframes incorrect-pulse {
  0% {
    background-color: rgb(208, 94, 113);
  }
  50% {
    background-color: rgb(255, 128, 149);
  }
  100% {
    background-color: rgb(208, 94, 113);
  }
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
